<h1>Upgrade Plan for <%= current_user.name %></h1>

<%= form_tag upgrade_plan_path(current_user), method: :post do %>
  <label>Select a new plan:</label>
  <%= select_tag 'plan_id', options_from_collection_for_select(@plans, 'id', 'name') %>
  <%= submit_tag 'Upgrade' %>
<% end %>

<%= link_to 'Back', plans_path %>
